#challenge {
	background: linear-gradient(rgba($color-brand-blue-dark, 0.7), rgba($color-brand-blue-dark, 0.7)),
		url("/assets/img/seats-md.jpg");
	background-position: center;
	background-size: cover;

	.header {
		margin-bottom: $space-md;
		width: max-content;
		margin-left: auto;
		margin-right: auto;
		.brand-logos {
			width: 100%;
			img {
				height: 25vw;
				@include md-and-up {
					height: 9em;
				}
			}
		}
	}
	.container {
		margin-top: 5vh;
		@include md-and-up {
			margin-top: 15vh;
		}
	}
}

form.age-checker {
	background: white;
	padding: $space-md;
	@include md-and-up {
		max-width: 900px;
		margin: 0 $space-lg;
		padding: $space-lg;
		margin-right: calc(#{$space-lg} + 2em);
		grid-template-columns: 3fr 1fr;
	}
	position: relative;
	display: grid;
	border-radius: $border-radius;
	img {
		display: none;

		width: 20em;
		position: absolute;
		right: calc(-25em + 25vw);
		bottom: 0;
		@include md-and-up {
			display: block;
		}
		@include lg-and-up {
			display: block;
			right: -8em;
		}
	}
	@include placeholder {
		text-align: center;
		color: $color-brand-blue-dark;
		@include md-and-up {
		}
	}
	input {
		text-align: center;
		font-size: 1.1em;
		padding: 0.75em;
		border-width: 3px;
		color: $color-brand-blue-dark;
		font-weight: 600;
		@include md-and-up {
			margin-bottom: 0;
		}

		width: 100%;
	}
	.wrapper {
		display: block;
		@include sm-and-up {
			display: grid;
		}
		@include md-and-up {
			grid-template-columns: repeat(3, 1fr);
		}
		grid-gap: $space-sm;

		h2,
		.check,
		.error {
			grid-column-start: 1;
			grid-column-end: 4;
		}
	}
	h2 {
		text-align: center;
		font-size: 1.3em;
		text-transform: uppercase;
		color: $color-brand-blue-dark;
		margin: $space-md 0;
		@include md-and-up {
		}
	}
	.error {
		text-align: center;
		margin-bottom: 0;
		color: $color-brand-red;
		display: none;
		margin-bottom: $space-sm;
		@include md-and-up {
			margin-bottom: -$space-md;
		}
		&.visible {
			display: block;
		}
	}
	.check {
		background: $color-brand-red;
		border: none;
		color: white;
		@include md-and-up {
			margin-top: $space-md;
		}
		display: block;
		width: 100%;
	}
}
