.drizly {
    background: $color-brand-red;
    padding:$space-lg 0;
    text-align: center;
    color:white;
    .wrapper {
        padding:0 2rem;
        max-width:46em;
        margin-left: auto;
        margin-right: auto;
        img {
            width:calc(100px + 10vw);
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: $space-md;
        }
        h2 {
            text-transform: uppercase;
        }
        p {
            margin: $space-md 0;
            font-weight: 300;
        }
        a.button.button-white {
            background: transparent;
            color:white;
            &:hover {
                background: lighten($color-brand-red, 5%);
            }
        }
    }
}