footer {
	background: white;
	.container {
		display: block;
		padding: $space-lg $space-md;
		@include md-and-up {
			display: flex;
		}
	}

	.copyrights {
		padding: $space-md 0 0 0;
		@include md-and-up {
			padding: 0 0 0 $space-md;
		}
		p {
			color: $color-brand-gray;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 5px;
		}
	}
}

.brand-logos {
	display: flex;
	width: max-content;
	align-items: center;
	margin: 0 auto;
	img {
		height: 5em;
		width: auto;
	}
	.divider {
		height: 4em;
		margin: 0 .5em;
		background: $color-brand-blue;

		width: 1px;
	}
}
