.header {
	position: relative;
	.header-wrap {
		padding: $space-sm;
		background: $color-ui-light;
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.ribbon-wrapper {
		transition: transform 0.2s ease-in;
		transform: translateY(-10em);
	}
	.brand-logos {
		width: 50%;
		img {
			padding: 0;
			height: 3em;
			width: auto;
		}
		.divider {
			height: 3em;
		}
		@include sm-and-up {
			img {
				height: 4.5em;
			}
			.divider {
				height: 4em;
			}
		}
	}
}

.ribbon-wrapper {
	top: 0;
	position: absolute;
	z-index: 1;
	width: 5em;
	left: calc(50% - 2.5em);
	top: 0;

	overflow: visible;
	&.visible {
		transform: none;
	}
	@include sm-and-up {
		z-index: 3;
		width: 6em;
		left: calc(50% - 3em);
	}
}
.ribbon {
	fill: none;
	polyline {
		fill: none;
		stroke: $color-brand-red;
		stroke-width: 20;
		stroke-miterlimit: 10;
	}
}

.social-menu {
	display: flex;
	color: $color-brand-red;
	a {
		display: block;
		width: 2.5em;
		padding: 0.5em;
	}
	svg {
		> * {
			fill: $color-brand-red;
		}
	}
}
.social-menu {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
