.hero {
	background: $color-brand-blue;
	color: $color-ui-light;
	text-align: center;
	@extend %light-link;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 700;
	h1 {
		font-size: 1.2rem;
		letter-spacing: .4em;
		margin: 0 0 .75em 0;
	}
	h2 {
		margin: 0 0 .75em 0;
		line-height: 1.1;
		font-size: 2.5em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
}
.hero-content {
	padding: $space-lg $space-md;
	@include sm-and-up {
		padding: 12vw $space-md 4vw $space-md;
	}
}
.scroll-to {
	display: block;
	@include sm-and-up {
		margin-top: 8vw;
	}
	letter-spacing: .2em;
	text-decoration: none;
	font-size: 14px;
	&:hover,
	&:focus {
		.caret {
			transform: translateY(.5em);
		}
	}
}

.caret {
	width: 2.5em;
	height: 2.5em;
	fill: none;
	stroke: currentColor;
	stroke-width: .25em;
	transition: transform 250ms ease;
}

.hero-background {
	@extend %absolute-fill;
	opacity: .5;
	filter: brightness(150%);
	mix-blend-mode: multiply;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.hero-content {
	position: relative;
	z-index: 1;
}
