.hero {
	background: $color-brand-blue;
	color: $color-ui-light;
	text-align: center;
	@extend %light-link;
	position: relative;
	overflow: hidden;
	h1 {

	}
}

.caret {
	width: 2em;
	height: 2em;
	fill: none;
	stroke: currentColor;
	stroke-width: .25em;
}

.hero-background {
	@extend %absolute-fill;
	opacity: .5;
	filter: brightness(150%);
	mix-blend-mode: multiply;
}
.hero-content {
	position: relative;
	z-index: 1;
}
