.photo-upload {
	font-weight: 600;
	background: $color-brand-blue-dark;
	color: $color-ui-light;
	@extend %light-link;
	text-align: center;
	.container {
		max-width: 46em;
		padding: calc(1em + 8vw) $space-md;
	}
	h2 {
		margin: 0 0 .15em 0;
		line-height: 1.1;
		font-size: 2.2em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	h3 {
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 800;
		letter-spacing: .4em;
		margin: 0 0 2em 0;
	}
}
.photo-how-to {
	font-weight: 400;
	text-align: left;
	margin: $space-lg 0;
	display: flex;
	@include sm-and-up {
		flex-direction: row;
	}
}
.sample-image {
	display: none;
	@include sm-and-up {
		display: block;
		max-width: 14em;
		padding-right: $space-md;
	}
}
.photo-steps {
	a {
		display: block;
		@include sm-and-up {
			display: inline-block;
		}
	}
	@include sm-and-up {
		padding-left: $space-md;
		border-left: $border-width solid rgba($color-ui-light, .5);
	}

	ol {
		list-style: none;
		counter-reset: my-awesome-counter;
		margin: 0;
		padding: 0;

		li {
			font-family: Arial, Helvetica;
			font-weight: 600;
			counter-increment: my-awesome-counter;
			display: flex;
			margin-bottom: $space-md;
			&::before {
				text-align: center;
				display: block;
				content: counter(my-awesome-counter);
				min-width: 1.5em;
				width: 1.5em;
				height: 1.5em;
				border-radius: 2em;
				border: .125em solid $color-brand-red;
				font-size: 2rem;
				margin-right: $space-sm;
				padding: .15em;
				line-height: 1;
			}
		}
	}
}
