.schedule {
	padding: $space-md 0;
	padding-bottom: $space-lg;
	position: relative;
	background: #f3f3f3;
	@include md-and-up {
		background:transparent;
	}
	h2 {
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		color: $color-brand-blue-dark;
	}
	img.mavs-logo {
		width: calc(100px + 10vw);
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	ol {
		padding: $space-sm;
		max-width: $interior-max-width;
		margin-left: auto;
		margin-right: auto;
		@include lg-and-up {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: $space-sm;
		}
		li {
			display: flex;
			flex-direction: column-reverse;
			@include md-and-up {
				display: grid;
				grid-template-columns: 3fr 1fr;
			}
			border-radius: $border-radius;
			background: white;
			margin-bottom: $space-sm;
			border: calc(#{$border-width} + 1px) solid $color-brand-blue-dark;
			position: relative;
		}
	}
	.disclaimer {
		text-align: center;
		color: $color-brand-blue-dark;
		font-weight: 400;
	}
}
.teams {
	display: flex;
	align-items: center;
	.wrapper {
		height: max-content;
		width: 100%;
		padding: $space-sm 0;
		@include md-and-up {
			margin-left: $space-lg;
			padding: inherit;
		}

		.game-number {
			color: #D00A2C;
			font-weight: 800;
			font-size: calc(16px + 0.5vw);

			margin-top: -60px;
			margin-bottom: 30px;
			margin-left: 10px;
			@include md-and-up {
				position: absolute;
				top: 10px;
				left: 10px;
				margin: 0;
			}
		}
		.team1,
		.team2 {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-weight: 800;
			color: $color-brand-blue-dark;
			justify-content: center;
			@include md-and-up {
				justify-content: start;
			}
			p {
				margin-bottom: -15px;
				font-size: 18px;
				@include sm-and-up {
					font-size: calc(20px + 0.5vw);
				}
			}
			img {
				width: calc(40px + 0.4vw);
			}
		}
	}
}
.date-and-time {
	border-bottom: calc(#{$border-width} + 1px) solid $color-brand-blue-dark;
	padding: $space-sm 0;
	position: relative;
	@include md-and-up {
		border-left: calc(#{$border-width} + 1px) solid $color-brand-blue-dark;
		padding: $space-md 0;
		border-bottom: 0;
	}
	@extend %center-flex;
	.date,
	.time {
		font-weight: 600;
		margin: 0;
		text-align: center;
		color: $color-brand-blue-dark;
		height: 25px;
		@include md-and-up {
			margin-bottom: 15px;
		}
	}
	.date {
		font-size: 25px;
		@include md-and-up {
			font-size: 30px;
		}
	}
	.time {
		right: 10px;
		height: 20px;
		font-size: 14px;
		margin-bottom: 0;
		width: 100%;
		text-align: right;
		padding-right: 20px;
		margin-top: -20px;
		@include md-and-up {
			font-size: 20px;
			position: static;
			height: 10px;
			text-align: center;
			margin-top: 0;
			padding-right: 0;
		}
	}
}

.schedule-background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: none;
	@include md-and-up {
		display: block;
	}
}
