#cheers {
	.container {
		background: white;
		max-width: 480px;
		width: 100%;
		margin: 0 auto;
		padding: $space-lg $space-md $space-md $space-md;
		border-radius: 1em;
		position: relative;
		text-align: center;
		@include md-and-up {
			padding: $space-lg;
		}
	}
	form {
		@include placeholder {
			font-family: "Gotham A", "Gotham B";
			color: $color-brand-gray;
			font-size: 14px;
		}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		color: $color-brand-blue-dark;
		font-size: 1.8em;
		line-height: 1.3;
		letter-spacing: 0.08em;
	}
	.button {
		width: 100%;
		margin-bottom: 0.75em;
	}
}

#cheers[data-open="false"] {
	z-index: -1;
	opacity: 0;
}
