.two-up {
	background: $color-brand-blue-dark;
	color: white;
	padding: $space-lg $space-md;
	@include md-and-up {
		padding: $space-xl $space-lg;
	}
	h2 {
		margin-bottom: 0.5em;
	}
	p {
		margin-bottom: $space-md;
	}
	.wrapper {
		@include md-and-up {
			display: grid;
			grid-template-columns: 1fr 2px 1fr;
			grid-gap: $space-lg;
		}
		text-align: center;
		position: relative;
		max-width: 46em;
		margin-left: auto;
		margin-right: auto;
		.divider {
			height: 1px;
			margin-bottom: $space-lg;
			@include md-and-up {
				height: 100%;
				margin-bottom: 0;
			}
			width: 100%;
			background: $color-brand-red;
		}
		div.content {
			max-width: 100%;
			margin-bottom: $space-lg;
			&:last-child {
				margin-bottom: 0;
			}
			@include md-and-up {
				margin-bottom: 0;
			}
		}
	}
}
