// Colors

$color-ui-light: #f2f2f2;
$color-ui-dark: #17191c;

$color-brand-blue: #0059a3;
$color-brand-red: #d0202f;
$color-brand-red-dark: #a41d37;
$color-brand-gray: #575354;

// Font Size

// Breakpoints
$breakpoint-iphoneSE: 330px;
$breakpoint-tiny: 400px;
$breakpoint-sm: 640px;
$breakpoint-md: 769px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1280px;

// Spacing
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$menu-height: 4em;
$space-lg: 4rem;
$space-xl: 6rem;
$space-page: 8rem;
$interior-max-width: 1140px;

// Border Width
$border-width: 2px;
