// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––
a.button,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	opacity: 1;
	background-color: $color-brand-blue-dark;
	border: 0.1rem solid $color-brand-blue-dark;
	border-radius: $border-radius;
	color: $color-ui-light;
	cursor: pointer;
	display: inline-block;
	font-family: "gotham";
	font-size: 1rem;
	font-weight: 600;
	height: 3em;
	letter-spacing: 0.15rem;
	line-height: 3.5;
	padding: 0 2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	appearance: none;

	&:focus,
	&:hover {
		background-color: darken($color-brand-blue-dark, 10);
		border-color: darken($color-brand-blue-dark, 10);
		outline: 0;
	}

	&.button-white {
		background-color: $color-ui-light;
		color: $color-brand-blue-dark;
		border-color: #fff;

		&:focus,
		&:hover {
			background-color: #fff;
			border-color: #fff;
			color: $color-brand-blue-dark;
		}
	}

	&.button-red {
		background-color: $color-brand-red;
		border-color: $color-brand-red;
		color: $color-ui-light;

		&:focus,
		&:hover {
			background-color: saturate(darken($color-brand-red, 10%), 100%);
			color: #fff;
			border-color: saturate(darken($color-brand-red, 10%), 100%);
		}
	}

	&.button-ghost {
		background-color: transparent;
		color: $color-ui-light;
		border-color: $color-ui-light;

		&:focus,
		&:hover {
			border-color: #fff;
			background: rgba($color-ui-light, 0.1);
			color: #fff;
		}
	}
}
